<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 페이지 - 회원 정보 관리</title>

    <link rel="stylesheet" href="/css/admin/admin-common.css">
    <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/board/board_common.css">

</head>

<body>

<!-- Header -->
<div class="Header">
    <th:block th:include="header :: commonHeader"></th:block>
</div>

<div class="sub-visual-wrap"></div>

<div class="sub-container">
    <div class="lnb-wrap">
        <div class="lnb">
            <div class="lnb-title-box">
                <div>
                    <h2>관리자 페이지</h2>
                </div>
            </div>
            <ul class="lnb-menu">
                <li class="active"><a class="active" th:href="@{/admin/goModifyUserDataPage}">회원 정보 관리</a></li>
                <li class="active"><a class="active" th:href="@{/admin/adminDeleteUser}">회원 정보 삭제</a></li>                
                <li><a class="" th:href="@{/admin/adminNotice}">공지사항 작성</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="tab"></div>
        <div class="content">
            <div class="co-board type2">
                <div class="bn-login01">
                    <!-- User Info Management -->
                    <table class="info-table">
                        <thead>
                        <tr>
                        	<td colspan="4"><h3>회원 명부</h3></td>
                        </tr>
                        <tr class="table-header">
                            <td>No.</td>
                            <td>학 번</td>
                            <td>이 름</td>
                            <td>삭 제</td>
                        </tr>
                        </thead>
                        <tbody>
                        <form th:object="${requestModifyUserRole}" th:action="@{/admin/doDeleteUser}" method="POST">
                        <th:block th:each="page : ${users}">
                            <tr>
                                    <!--No-->
                                    <td><input type="text" id="id" name="id" th:value="${page.getId()}" readonly onfocus="this.blur();"/></td>

                                    <!-- school id -->
                                    <td><input type="text" id="username" name="username" th:value="${page.getUsername()}" readonly onfocus="this.blur();"/></td>
                                    
                                    <td th:text="${page.getName()}"></td>
                                    <td>
                                    	<button type="submit">삭 제 </button>
                                    </td>
                            </tr>
                        </th:block>
                        </form>
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <th:block th:include="footer :: commonFooter"></th:block>
</footer>

</body>
</html>