<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 페이지 - 회원 정보 관리</title>

    <link rel="stylesheet" href="/css/admin/admin-common.css">
    <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/board/board_common.css">
		
	<meta id="_csrf" name="_csrf" content="${_csrf.token}" /> 
	<meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />
	
	<script type="text/javascript" src="/js/admin.js"></script>	
	
</head>

<body>

<!-- Header -->
<div class="Header">
    <th:block th:include="header :: commonHeader"></th:block>
</div>

<div class="sub-visual-wrap"></div>

<div class="sub-container">
    <div class="lnb-wrap">
        <div class="lnb">
            <div class="lnb-title-box">
                <div>
                    <h2>관리자 페이지</h2>
                </div>
            </div>
            <ul class="lnb-menu">
                <li class="active"><a class="active" th:href="@{/}">회원 정보 관리</a></li>
                <li><a class="" th:href="@{/admin/adminNotice}">공지사항 작성</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="tab"></div>
        <div class="content">
            <div class="co-board type2">
                <div class="bn-login01">
                    <!-- User Info Management -->
                    <table class="info-table">
                        <thead>
                        <tr>
                        	<td colspan="9"><h3>회원 명부</h3></td>
                        </tr>
                        <tr class="table-header">
                            <td>No.</td>
                            <td>학 번</td>
                            <td>이 름</td>
                            <td colspan="3">권 한</td>
                            <td>수 정</td>
                            <td>삭 제</td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="page : ${users}">
                        <form th:object="${requestModifyUserRole}" th:id="${page.getId()}" method="POST">                        
                        	<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <tr>
                                    <!--No-->
                                    <td><input type="text" name="id" th:value="${page.getId()}" readonly onfocus="this.blur();"/></td>

                                    <!-- school id -->
                                    <td><input type="text" name="username" th:value="${page.getUsername()}" readonly onfocus="this.blur();"/></td>
                                    
                                    <td th:text="${page.getName()}"></td>
                                    <td th:each="role : ${roles}">
                                        <input type="checkbox" th:class="${page.getId()}" name="roles" th:onClick="'onClickCheckBoxEvnetHandler(' + ${page.getId()} +')'" th:checked="${(page.getRoles()).contains(role)}" th:value="${role.getName().name()}" th:text="${role.getName().name()}">                     
                                    </td>
                                    <td>
                                    	<input type="button" id="modify" th:onClick="'onClickModifyRoleEventHandler('+${page.getId()}+')'" value="수 정"></input>
                                    </td>
                                    <td>
                                    	<input type="button" id="delete" th:onClick="'onClickUrlEventHandler('+${page.getId()}+', '+@{/admin/doDeleteUser}+')'" value="삭 제"></input>
                                    </td>
                            </tr>
                        </form>							
                        </th:block>
                        </tbody>
                    </table>
                    <!-- Paging -->
					<div class="paging">
					    <a th:href="@{/admin/goModifyUserDataPage(pageNumber=${pageInfo.getFirstPageNo()})}"
					       class="btn_arr first"><span><<</span></a>
					    <a th:href="@{/admin/goModifyUserDataPage(pageNumber=${pageInfo.getPrevPageNo()})}"
					       class="btn_arr prev"><span><</span></a>
					    <th:block th:each="num : ${#numbers.sequence(pageInfo.getStartPageNo(), pageInfo.getEndPageNo())}">
					        <!-- D : 활성화페이지일 경우 : on 처리 -->
					        <a th:if="${pageInfo.getPageNo() == num}" th:href="@{/admin/goModifyUserDataPage(pageNumber=${num})}"
					           class="on"><span th:text="${num}"></span></a>
					        <a th:unless="${pageInfo.getPageNo() == num}" th:href="@{/admin/goModifyUserDataPage(pageNumber=${num})}"><span
					                th:text="${num}"></span></a>
					    </th:block>
					    <a th:href="@{/admin/goModifyUserDataPage(pageNumber=${pageInfo.getNextPageNo()})}"
					       class="btn_arr next"><span>></span></a>
					    <a th:href="@{/admin/goModifyUserDataPage(pageNumber=${pageInfo.getFinalPageNo()})}"
					       class="btn_arr last"><span>>></span></a>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <th:block th:include="footer :: commonFooter"></th:block>
</footer>  
            
</body>
</html>