<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>자유게시판</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/leaflet.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/board/board_common.css">
		<link rel="stylesheet" href="/css/writePage.css">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
		
		<!-- Header -->
       <div class="Header">
          <th:block th:include="header :: commonHeader"></th:block>
       </div>
		
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>자유게시판</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	        <div class="container">
	        	<div class="blog-post blog-single-post">
					<div class="single-post-title">
						<!-- <h3>Post Title</h3> -->
						<b>제목</b>
						<input type="text" class="form-control" th:value="${contentTitle}" disabled="disabled">
					</div>
					<hr>
					<div class="form-group">
						<label for="comment-name"><i class="glyphicon glyphicon-user"></i> <b>작성자</b></label>
						<input class="form-control" id="comment-name" type="text" th:value="${writerName}" disabled="disabled">
					</div>
					<div class="form-group">
						<label for="comment-message"><i class="glyphicon glyphicon-comment"></i> <b>Content</b></label>
						<textarea class="form-control" rows="20" id="comment-message" disabled="disabled" th:text="${contentText}">내용내용내용</textarea>
					</div>
					<div class="single-post-title">
						<!-- <h3>Post Title</h3> -->
						<b>첨부파일</b>
						<a th:href="@{#}"><span th:text="${fileName}">abc.text</span></a>
						<br /><br />
					</div>
					<!-- comment -->
					<div id="form-commentInfo"> 
						<div id="comment-count">댓글 <span id="count">0</span></div>
						<input id="comment-input" type="text" placeholder="댓글을 입력해 주세요.">
						<br />
						<input type="button" class="btn" value="등록" id="comment_submit">
					</div> 
					<div id=comments> 
						<div class="eachComment">
							<div class="name">
								<span>포마드권오범</span>
								<input type="button" class="btn" value="삭제" style="background: none repeat scroll 0 0 #DA1111;">
							</div>
							<div class="inputValue">
								<span>댓글내용</span>
							</div>
						</div>
						<div class="eachComment">
							<div class="name">
								<span>포마드신동환</span>
								<input type="button" class="btn" value="삭제" style="background: none repeat scroll 0 0 #DA1111;">
							</div>
							<div class="inputValue">
								<span>댓글내용</span>
							</div>
						</div>
					</div>
	        	</div>
	        	<div class="right_button">
					<a th:href="@{/board/freeBoard}" class="btn"> 목록 </a>
				</div>
	        </div>
	    </div>
	     <!-- Footer -->
       <footer>
          <th:block th:include="footer :: commonFooter"></th:block>
       </footer>
        <!-- Javascripts -->
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <!-- 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>        
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>
		 -->
    </body>
</html>