<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>자유게시판</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

  	    <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/board/board_common.css">

    </head>
    
    <body>
	    <!-- Header -->
	    <div class="Header">
		    <th:block th:include="header :: commonHeader"></th:block>
	    </div>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>자유게시판</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Open Vacancies List -->
	    			<div class="post_wrap">
	    				<table class="post_list">
	    					<tr>
	    						<th>No</th>
	    						<th>제목</th>
	    						<th>작성자</th>
	    						<th>작성일</th>
	    						<th>조회</th>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">1</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">2</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">오경택</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">3</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">이지형</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">4</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">신동환</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">124</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">5</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">6</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">7</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">8</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">9</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    					<tr>
	    						<!-- No -->
	    						<!-- <td class="job-position"> -->
	    						<td class="job-position">10</td>
	    						<!-- 제목 -->
	    						<td class="job-position">최대 몇글자 까지 들어갈것인가</td>
	    						<!-- 작성자 -->
	    						<td class="job-position">권오범</td>
	    						<!-- 작성일 -->
	    						<td class="job-position">2020.01.01</td>
	    						<!-- 조회 -->
	    						<td class="job-position">123</td>
	    					</tr>
	    				</table>
	    			</div>
	    			<!-- End Open Vacancies List -->
	    		</div>
	    		<div class="right_button">
					<input type="button" class="btn" value="작성">
				</div>
			</div>
		</div>
		
		<!-- Paging -->
		<div class="paging">
			<a href="#" class="btn_arr first"><span><<</span></a>            
			<a href="#" class="btn_arr prev"><span><</span></a>     
			<a href="#" class="on">1</a><!-- D : 활성화페이지일 경우 : on 처리 -->
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#" class="btn_arr next"><span>></span></a>            
			<a href="#" class="btn_arr last"><span>>></span></a> 
		</div>
		<!-- Search -->
		<div class="search">
			<select class="btn">
				<option value="search_all">제목+내용</option>
				<option value="search_person">작성자</option>
			</select>
			<input type="textarea" class="search_text">
			<input type="button" value="검색" class="btn">
		</div>
		
	    <!-- Footer -->
	    <footer>
		    <th:block th:include="footer :: commonFooter"></th:block>
	    </footer>
    </body>
</html>