.layer{
	position:absolute;
	display:table;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.layer .layer_inner{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.layer .content{
	display:inline-block;
}
