@media (max-width:479px){
	#container-logo{
		text-align: center;
	}
	#container-identity{
		width: 50%;
		height: 44px !important;
	}
}

@media ( max-width: 1023px ){
	li{
		float: left;
		display: block;
	}
	
	li > a{
		margin: 0 auto 10px auto;
		witdh: 17px;
		height: 22px;
		font-size: 15px !important;
		text-align: center;
		color: #4f8db3 !important;
	    font-weight: 600;
	}
	.log{
		font-size: 0.85em !important;
		color: #333 !important;
	}
	
	.mainmenu > ul > li.has-submenu a.homeButton {
	    border-bottom: 0px !important;
	}
	
	#container-logo{
		width: 50%;
		text-align: left;
	}
	#forBlank{
		width: 50%;
		border: 0px;
	}
	#container-identity{
		width: 50%;
		height: 50px;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-notice{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-freeBoard{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-education{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-study{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-test{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
	#container-gallery{
		width: 50%;
    	border-bottom: 4px solid #4f8db3;
    	text-align: center;
	}
}
