<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>S.P.G - Error Page</title>
        <link rel="stylesheet" href="/css/error.css">

    </head>
    
    <body>
    
    
	<div class="layer">
		<div class="layer_inner">
			<div class="content">
				<a th:href="@{/}">				<img src="/img_beom/error.png">메인 페이지로 이동</a>
			</div>
		</div>
	</div>
    </body>
</html>