<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="commonFooter">
	    <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/main.css">	
		<div class="footer">
		
			<div class="footer-inner">
				
				<div class="footer-wrapper">
					<div><img id="footer_logo_img" src="/img_beom/spg_logo_blank.png" alt=" No Image"></div>
					<div><h3>S.P.G - System Programming Group</h3></div>					
				</div>
								
				<div class="copyright_text">
				<hr/>
					<p>Copyright &copy; S.P.G 권오범, 김기환, 신동환, 이지형, 오경택</p>
					<p>34134 대전광역시 유성구 대학로 99 충남대학교 공대5호관 301호 S.P.G</p>
				</div>	
			</div>
			
		</div>
	</th:block>
</html>