<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>S.P.G - System Programming Group</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

 		<!-- 
        <link rel="stylesheet" href="/css/bootstrap.min.css">
         -->
        <link rel="stylesheet" href="/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/leaflet.css" />
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        
 		<link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">

        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    
    <body>
    
        <!-- Header -->
       <div class="Header">
          <th:block th:include="header :: commonHeader"></th:block>
       </div>

        <!-- Homepage Slider -->
        <div class="homepage-slider">
           <div id="sequence">
            <ul class="sequence-canvas">
               <!-- Slide 1 -->
               <li class="bg1">
                  <!-- Slide Title -->
                  <h2 class="title">System</h2>
                  <!-- Slide Text -->
                  <h3 class="subtitle">아두이노 교육 / F.A.T.I(아두이노 경진대회) / etc </h3>
                  <!-- Slide Image -->
               </li>
               <!-- End Slide 1 -->
               
               <!-- Slide 2 -->
               <li class="bg2">
                  <!-- Slide Title -->
                  <h2 class="title">Programming</h2>
                  <!-- Slide Text -->
                  <h3 class="subtitle">신입생 교육 / 재학생 교육 / 알고리즘 스터디</h3>
                  <!-- Slide Image -->
               </li>
               <!-- End Slide 2 -->
               
               <!-- Slide 3 -->
               <li class="bg3">
                  <!-- Slide Title -->
                  <h2 class="title">Group</h2>
                  <!-- Slide Text -->
                  <h3 class="subtitle">MT / 그룹스터디 / 체육활동</h3>
                  <!-- Slide Image -->
               </li>
               <!-- End Slide 3 -->
            </ul>
            <div class="sequence-pagination-wrapper">
               <ul class="sequence-pagination">
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
               </ul>
            </div>
         </div>
        </div>
        <!-- End Homepage Slider -->

      <!-- Services -->
        <div class="section">
           <div class="container">
              <div class="row">
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/Spg.png" alt="Infomation">
                       <h3>S.P.G - System Programming Group</h3>
                       <p></p>
                       <a th:href="@{/ready}" class="btn">이동하기</a>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/Notice.png" alt="Notice">
                       <h3>Notice</h3>
                       <p></p>
                       <a th:href="@{/board/noticeBoard}" class="btn">이동하기</a>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/FreeBoard.png" alt="FreeBoard">
                       <h3>Board</h3>
                       <p></p>
                       <a th:href="@{/board/freeBoard}" class="btn">이동하기</a>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/Class.png" alt="Class">
                       <h3>Class</h3>
                       <p></p>
                       <a th:href="@{/board/eduBoard}" class="btn">이동하기</a>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/Study.png" alt="Group Study">
                       <h3>Group Study</h3>
                       <p></p>
                       <a th:href="@{ready}" class="btn">이동하기</a>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                       <img src="../img_beom/service_icon/Exam.png" alt="Exam">
                       <h3>Exam</h3>
                       <p></p>
                       <a th:href="@{ready}" class="btn">이동하기</a>
                    </div>
                 </div>
              </div>
           </div>
       </div>
       <!-- End Services -->

<!-- 이전 내용 메모장 보관 추후 CSS 정리 필요 -->

       <!-- Footer -->
       <footer>
          <th:block th:include="footer :: commonFooter"></th:block>
       </footer>

        <!-- Javascripts --> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="js/jquery.fitvids.js"></script>
        <script src="js/jquery.sequence-min.js"></script>
        <script src="js/jquery.bxslider.js"></script>
        <script src="js/main-menu.js"></script>
        <script src="js/template.js"></script>
    </body>
</html>