<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>로그인</title>
      
      <link rel="stylesheet" href="/css/login.css">
      <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">

   </head>
      
   <body>

      <!-- Header -->
      <div class="Header">
         <th:block th:include="header :: commonHeader"></th:block>
      </div>
   
      <div class="sub-visual-wrap">
         <div class="title"></div>
      </div>
   
      <div class="sub-container">
         <div class="lnb-wrap">
            <div class="lnb">
               <div class="lnb-title-box">
                  <div>
                     <h2>기타</h2>
                  </div>
               </div>
               <ul class="lnb-menu">
                  <li><a class="active" th:href="@{/login/Signin}">로그인</a></li>
                  <li><a class="" th:href="@{/register/signUpPage}">회원가입</a></li>
               </ul>
            </div>
         </div>
         <div class="content-wrap">
            <div class="tab"></div>
            <div class="content">
               <div class="co-board type2">
                  <div class="bn-login01">
                     <form class="b-login-box" th:action="@{/authenticateTheUser}"
                        method="post">
                        <fieldset class="b-login-zone">
                           <div class="b-login-input-wrap">
                              <input type="hidden" id="crsfData"
                                 th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					                              아이디 : <input type="text" name="username" value="">
					                              비밀번호: <input type="password" name="password" value="">
                              <button type="submit" class="b-btn-login">Login</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   
      <footer>
         <th:block th:include="footer :: commonFooter"></th:block>
      </footer>
   
   </body>
</html>