<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>마이 페이지-비밀번호 변경</title>

    <link rel="stylesheet" href="/css/user_management.css">
    <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">

</head>

<body>

<!-- Header -->
<div class="Header">
    <th:block th:include="header :: commonHeader"></th:block>
</div>

<div class="sub-visual-wrap"></div>

<div class="sub-container">
    <div class="lnb-wrap">
        <div class="lnb">
            <div class="lnb-title-box">
                <div>
                    <h2>마이 페이지</h2>
                </div>
            </div>
            <ul class="lnb-menu">
                <li><a class="" th:href="@{/user/management}">개인정보 수정</a></li>
                <li><a class="active" th:href="@{/user/passwordChangePage}">비밀번호 변경</a></li>               
                <!-- <li><a class="" href="#">내가 쓴 글</a></li> -->
                <li><a class="" th:href="@{/user/withdrawalPage}">회원 탈퇴</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="tab"></div>
        <div class="content">
            <div class="co-board type2">
                <div class="bn-login01">
                    <form th:action="@{changePassword}"
                          th:object="${changingPasswordRequest}" method="POST">
                        <h3>비밀번호 변경</h3>
                        <input type="hidden" id="crsfData" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="form-group col-xs-15">
                            <div>
                                <!-- Check for registration error -->
                                <div th:if="${changeError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    <span th:text="${changeError}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="before-password"><i class="icon-lock"></i> <b>현재 비밀번호</b></label>
                            <input class="form-control" th:field="*{beforePassword}" id="before-password" type="password"
                                   placeholder="now password (*)">
                        </div>
                        <div th:if="${#fields.hasErrors('beforePassword')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('beforePassword')}" th:text="'Password ' + ${err}"/>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="register-password"><i class="icon-lock"></i> <b>비밀번호</b></label>
                            <input class="form-control" th:field="*{password}" id="register-password" type="password"
                                   placeholder="password (*)">
                        </div>
                        <div th:if="${#fields.hasErrors('password')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"/>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="register-password2"><i class="icon-lock"></i> <b>비밀번호 확인</b></label>
                            <input class="form-control" id="register-password2" type="password"
                                   placeholder="confirm password (*)" th:field="*{matchingPassword}"
                                   th:errorclass="fieldError">
                        </div>
                        <div th:if="${#fields.hasErrors('matchingPassword')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"/>
                            </ul>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn pull-right">Register</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <th:block th:include="footer :: commonFooter"></th:block>
</footer>

</body>
</html>