<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="commonHeader">
		<header>
	   <div class="mainmenu-wrapper">
		        <div class="container">
		        	<div class="menuextras">
						<div class="extras">
							<ul>
				        		<li><a th:href="@{login/signInPage}">Sign In</a></li>
				        		<li><a th:href="@{register/signUpPage}">Sign Up</a></li>
				        	</ul>
						</div>
			        </div>
			        
			        <nav id="mainmenu" class="mainmenu">
						<ul>
							<li class="logo-wrapper">
								<a th:href="@{/}">
									<img id="main_logo_img" src="img_beom/spg_logo3.png" alt="No Image">
								</a>
							</li>
							
							<li class="active has-submenu">
								<a th:href="@{/}">S.P.G</a>
								<div class = mainmenu-submenu>
									<div class="mainmenu-submenu-inner">
										<div>
											<h4>Introduce</h4>
											<ul>
												<li><a href="#">동아리 소개</a></li>
												<li><a href="#">지도교수 소개</a></li>
												<li><a href="#">임원진 소개</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a th:href="@{/notice}">공지사항</a>
							</li>
							<li>
								<a th:href="@{/freeBoard}">자유게시판</a>
							</li>
							
							<li class="has-submenu">
								<a th:href="@{#}">교 육</a>
								<div class = mainmenu-submenu>
									<div class="mainmenu-submenu-inner">
										<div>
											<h4>Study</h4>
											<ul>
												<li><a href="#">신입생 교육</a></li>
												<li><a href="#">재학생 교육</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="has-submenu">
								<a href="index.html">스터디</a>
								<div class = mainmenu-submenu>
									<div class="mainmenu-submenu-inner">
										<div>
											<h4>Group Study</h4>
											<ul>
												<li><a href="#">멤버 모집</a></li>
												<li><a href="#">정보 공유</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="has-submenu">
								<a href="#">시험자료</a>
								<div class = mainmenu-submenu>
									<div class="mainmenu-submenu-inner">
										<div>
											<h4>Test</h4>
											<ul>
												<li><a href="#">수업 자료</a></li>
												<li><a href="#">시험 자료</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li>
								<a th:href="@{/gallery}">갤러리</a>
							</li>
						</ul>
					</nav>
				</div>
				<br/>
			</div>
			</header>
	</th:block>
</html>
