<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="commonFooter">
		<head>
		<title>로그인 테스트 페이지</title>
		</head>
		<body>
			<form th:action="@{/authenticateTheUser}" method="post">
				<div>
					<input type="hidden" id="crsfData" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					아이디<input type="text" name="username" value="">
					비밀번호<input type="password" name="password" value="">
					<button type="submit">Login</button>
				</div>
			</form>
			<div>
				<a th:href="@{/SignUpPage}" class="btn btn-primary" role="button" aria-pressed="true">Register New User</a>
			</div>
		</body>
	</th:block>
</html>