<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>회원가입</title>
      
      <link rel="stylesheet" href="/css/register.css">
      <link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">

   </head>
      
   <body>

      <!-- Header -->
      <div class="Header">
         <th:block th:include="header :: commonHeader"></th:block>
      </div>
   
      <div class="sub-visual-wrap">
         <div class="title"></div>
      </div>
   
      <div class="sub-container">
         <div class="lnb-wrap">
            <div class="lnb">
               <div class="lnb-title-box">
                  <div>
                     <h2>기타</h2>
                  </div>
               </div>
               <ul class="lnb-menu">
                  <li><a th:href="@{/login/Signin}">로그인</a></li>
                  <li><a class="active" th:href="@{/register/signUpPage}">회원가입</a></li>
               </ul>
            </div>
         </div>
         <div class="content-wrap">
            <div class="tab"></div>
            <div class="content">
               <div class="co-board type2">
                  <div class="bn-login01">
					
					<div class="section">
					    <div class="">
					        <div class="row">
					        	<h3>회원 가입</h3>
					            <div class="col-sm">
					                <div class="basic-login">
					                    <form th:action="@{/register/registration}"
					                          th:object="${user}" method="POST">
					                        <div class="form-group col-xs-15">
					                            <div>
					                                <!-- Check for registration error -->
					                                <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
					                                    <span th:text="${registrationError}"></span>
					                                </div>
					                            </div>
					                        </div>
					
					                        <div class="form-group">
					                            <label for="register-username"><i class="icon-user"></i> <b>학번</b></label>
					                            <input class="form-control" id="register-username" type="text" th:field="*{userName}"
					                                   placeholder="username (*)">
					                        </div>
					                        <div th:if="${#fields.hasErrors('userName')}"
					                             style="margin-bottom: 25px" class="text-danger">
					                            <ul>
					                                <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"/>
					                            </ul>
					                        </div>
					
					                        <div class="form-group">
					                            <label for="register-password"><i class="icon-lock"></i> <b>비밀번호</b></label>
					                            <input class="form-control" th:field="*{password}" id="register-password" type="password"
					                                   placeholder="password (*)">
					                        </div>
					                        <div th:if="${#fields.hasErrors('password')}"
					                             style="margin-bottom: 25px" class="text-danger">
					                            <ul>
					                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"/>
					                            </ul>
					                        </div>
					
					                        <div class="form-group">
					                            <label for="register-password2"><i class="icon-lock"></i> <b>비밀번호 확인</b></label>
					                            <input class="form-control" id="register-password2" type="password"
					                                   placeholder="confirm password (*)" th:field="*{matchingPassword}"
					                                   th:errorclass="fieldError">
					                        </div>
					                        <div th:if="${#fields.hasErrors('matchingPassword')}"
					                             style="margin-bottom: 25px" class="text-danger">
					                            <ul>
					                                <li th:each="err : ${#fields.errors('matchingPassword')}"
					                                    th:text="'Password ' + ${err}"/>
					                            </ul>
					                        </div>
					
					                        <div class="form-group">
					                            <label for="register-name"><i class="icon-name"><b>Name</b></i></label>
					                            <input class="form-control" th:field="*{name}" id="register-name" type="text"
					                                   placeholder="name (*)">
					                        </div>
					                        <div th:if="${#fields.hasErrors('name')}"
					                             style="margin-bottom: 25px" class="text-danger">
					                            <ul>
					                                <li th:each="err : ${#fields.errors('name')}" th:text="'name ' + ${err}"/>
					                            </ul>
					                        </div>
					
					                        <div class="form-group">
					                            <button type="submit" class="btn pull-right">Register</button>
					                            <div class="clearfix"></div>
					                        </div>
					                    </form>
					                </div>
					            </div>
					
					        </div>
					    </div>
					</div>
					
                  </div>
               </div>
            </div>
         </div>
      </div>
   
      <footer>
         <th:block th:include="footer :: commonFooter"></th:block>
      </footer>
   
   </body>
</html>